.event-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.event-header-box {
  text-align: center;
}

.card-main {
  width: 85%;
}

.event-main-box {
  margin-top: 120px;
}

.button-previous {
  margin-right: 13px;
}
