.event__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 585px;
  fill: #fde8b3;
  background-color: #fde8b3;
  border-radius: 30px;
}

.event__border {
  width: 1300px;
  height: 565px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
}

.event__date {
  color: #444;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.event__location {
  color: #6c7272;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.event__price {
  color: #fa7d09;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.16px;
}

.event__text span {
  color: #fa7d09;
  font-size: 20px;
  font-weight: 700;
}

.event__text {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.event__img__1 {
  width: 350px;
}
