/* .wrapper {
  width: 1920px;
  height: 1104px;
  background-color: #f9b842;
  border-radius: 20px;
} */

.home-main {
  /* width: 1790px; */
  width: 91%;
  height: 957px;
  margin: -30px auto 0;
  background: linear-gradient(#ff8b2c, #ff8d2a, #ffa413, #ffb105, #ffb600);

  border-radius: 20px;
}

.home-main-top {
  display: flex;
  align-items: center;
  padding: 83px 0 59px 70px;
}

.home-logo {
  /* padding: 83px 16px 59px 132px;
  width: 181px;
  height: 145px; */
  padding-right: 5px;
}

.home-text-one {
  color: var(--w, #fff);
  font-family: iCiel Koni;
  /* font-size: 72px; */
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 80px;

  /* line-height: 100px; */
  /* padding-top: 62px;
  margin-bottom: -15px; */
}

.home-text-two {
  color: var(--w, #fff);
  font-family: iCiel Koni;

  font-style: normal;
  font-weight: 900;
  /* line-height: 100px;font-size: 72px; */
  font-size: 62px;
  line-height: 80px;
}

/* .home-text {
  padding-right: 88px;
} */

.home-main-main-one {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 950px; */
  width: 55%;
  height: 584.318px;
  fill: #fde8b3;
  background-color: #fde8b3;
  /* margin-left: 133px; */
  border-radius: 30px;
  /* position: relative;
  z-index: 2; */
  z-index: 4;
}

.home-main-children-one {
  /* width: 926px; */
  width: 97%;
  height: 559px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
  align-items: center;
  justify-content: center;

  /* text-align: left; */
  /* position: relative;
  z-index: 3; */
  z-index: 5;
  text-align: start;
}

.home-main-main-two {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 539px; */
  width: 32%;
  height: 584.073px;
  fill: #fde8b3;
  background-color: #fde8b3;
  margin-left: 25px;
  border-radius: 30px;
  z-index: 1;
}

.home-main-children-two {
  justify-content: center;
  /* align-items: center; */
  /* width: 511.979px; */
  width: 94%;
  height: 558.99px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
}

.home-main-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 288px; */
  width: 60%;
  height: 80px;
  fill: linear-gradient(180deg, #ff000a 0%, #c2000b 100%);
  background: linear-gradient(#ff000a, #c2000b);
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -30px;
  margin-left: 20%;
}
.home-tag-border {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 275px; */
  width: 96%;
  height: 71px;
  border-style: dashed;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.home-tag-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165.12px;
  flex-direction: column;
  color: var(--w, #fff);
  font-family: iCiel Koni;
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.home-input-box {
  margin-top: 30px;
}
.home-input {
  margin-left: 16px;
  margin-bottom: 16px;
}

.home-input-row {
  display: flex;
  margin-left: 16px;
  margin-bottom: 16px;
}

.home-input-col-2 {
  margin-left: 15px;
}

.home-button {
  margin-top: 24px;
  margin-left: 13%;
}

.home-text-children-one {
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 25px;

  color: var(--text, #23221f);

  /* 20 medium */
  font-family: Montserrat;

  font-style: normal;
  font-weight: 500;
  /* line-height: 30px;
  font-size: 20px; */
  font-size: 18px;
  line-height: 25px;
  opacity: 0.699999988079071;
}

.row-text-one {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}
.row-text-one img {
  /* width: 37px;
  height: 40px; */
  width: 32px;
  height: 35px;
}
.row-text-one p {
  color: var(--text, #23221f);

  /* 24 bold */
  font-family: Montserrat;
  /* font-size: 24px; */
  font-style: normal;
  font-weight: 700;
  /* line-height: 36px; */
  opacity: 0.800000011920929;
  margin-left: 5px;
  font-size: 20px;
  line-height: 30px;
}

.home-text-children-two {
  margin-left: 100px;
  margin-right: 25px;
}

.home-picture-1 {
  position: absolute; /* Thêm thuộc tính position absolute */
  left: 40%;
  bottom: 265px;
  z-index: 3;
}

.home-picture-2 {
  /* width: 117px;
  height: 174px;
  margin-top: 20px;
  margin-left: 78px; */
  /* width: 488px;
  height: 510px; */
  /* margin-top: -415px;
  margin-left: -70px; */
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 1;
}

.home-picture-3 {
  /* width: 788px;
  height: 443px;
  margin-bottom: -120px;
  margin-top: -50px; */
  width: 600px;
  height: 400px;
  position: absolute;
  left: 49%;
  /* bottom: -10px; */
  bottom: 31%;
}

.home-picture-4 {
  /* width: 488px;
  height: 510px; */
  /* margin-top: -415px;
  margin-left: -70px; */
  position: absolute;
  top: 80%;
  left: -50px;
  z-index: 6;
}

.home-picture-5 {
  /* width: 166px;
  height: 237px; */

  position: absolute; /* Thêm thuộc tính position absolute */
  left: 88%;
  bottom: -400px;
}

.home-picture-6 {
  /* width: 198px;
  height: 283px; */

  position: absolute; /* Thêm thuộc tính position absolute */
  left: 88.9%;
  top: 60%;
}
.home-picture-7 {
  /* width: 147.368px;
  height: 210px; */
  /* width: 10%;
  height: 70%; */
  /* width: 107px;
  height: 170px; */

  position: absolute; /* Thêm thuộc tính position absolute */
  /* left: 100%; */
  left: 2%;
  top: 40%;
}

.home-picture-7 img {
  width: 85%;
  height: 85%;
}
/* .home-picture-6 img {
  width: 90%;
  height: 90%;
} */
.home-picture-5 img {
  width: 85%;
  height: 85%;
}

.home-picture-8 {
  /* width: 110px;
  height: 157px; */

  position: absolute; /* Thêm thuộc tính position absolute */
  left: 40%;
  bottom: -435px;
}
