.paysuccess-main {
  width: 91%;
  height: 957px;
  margin: -30px auto 0;
  background: linear-gradient(#ff8b2c, #ff8d2a, #ffa413, #ffb105, #ffb600);

  border-radius: 20px;
}

.paysuccess-main-top {
  text-align: center;
}

.paysuccess-text-one {
  color: var(--w, #fff);

  /* Header */
  font-family: iCiel Koni;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px;
  padding-top: 70px;
  margin-bottom: 50px;
}

.paysuccess-main-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
