.payment-main {
  width: 91%;
  height: 957px;
  margin: -30px auto 0;
  background: linear-gradient(#ff8b2c, #ff8d2a, #ffa413, #ffb105, #ffb600);

  border-radius: 20px;
}

.payment-main-top {
  text-align: center;
}

.payment-text-one {
  color: var(--w, #fff);

  /* Header */
  font-family: iCiel Koni;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px;
  padding-top: 70px;
  margin-bottom: 50px;
}

.payment-main-main-one {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 950px; */
  width: 55%;
  height: 584.318px;
  fill: #fde8b3;
  background-color: #fde8b3;

  border-radius: 30px;
}

.payment-vector {
  margin-right: -70px;
  margin-left: -40px;
  margin-bottom: -3px;
}

.payment-main-children-one {
  width: 97%;
  height: 559px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.payment-main-main-two {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32%;
  height: 584.073px;
  fill: #fde8b3;
  background-color: #fde8b3;
  /* margin-left: -25px; */
  border-radius: 30px;
}

.payment-main-children-two {
  justify-content: center;

  width: 94%;
  height: 558.99px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
}

.payment-main-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-tag-2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 85%;
  height: 90px;
  fill: linear-gradient(180deg, #ff000a 0%, #c2000b 100%);
  background: linear-gradient(#ff000a, #c2000b);
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -30px;
  margin-left: 8%;
}
.payment-tag-border-2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 97%;
  height: 81px;
  border-style: dashed;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.payment-tag-text-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--w, #fff);
  font-family: iCiel Koni;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.payment-input-box-1 {
  margin-top: 15px;
  margin-left: 90px;
}
.payment-input-box-2 {
  margin-top: 15px;
  margin-left: 30px;
}
.payment-input {
  /* margin-left: 16px; */
  margin-bottom: 16px;
}

.payment-input-row {
  display: flex;
  /* margin-left: 16px; */
  margin-bottom: 16px;
}

.payment-input-col-2 {
  margin-left: 8%;
  margin-right: 8%;
}
.payment-input-col-3 {
  /* margin-left: -10px; */
}

.payment-input-col-row {
  display: flex;
  align-items: center;
}

.payment-input-col-row span {
  /* padding-right: 10px;
  margin: 0; */
  padding-left: 5px;
  color: var(--text, #23221f);

  /* 18 medium */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.payment-button {
  margin-top: 24px;
  margin-left: 13%;
}

label {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.payment-tag-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45%;
  height: 90px;
  fill: linear-gradient(180deg, #ff000a 0%, #c2000b 100%);
  background: linear-gradient(#ff000a, #c2000b);
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -30px;
  margin-left: 15%;
}
.payment-tag-border-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 97%;
  height: 81px;
  border-style: dashed;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.payment-tag-text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--w, #fff);
  font-family: iCiel Koni;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.home-picture-10 {
  /* width: 147.368px;
    height: 210px; */
  /* width: 10%;
    height: 70%; */
  /* width: 107px;
    height: 170px; */

  position: absolute; /* Thêm thuộc tính position absolute */
  /* left: 100%; */
  left: -60px;
  top: 45%;
}
