.qr__title {
  color: #000;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.qr__text__1 {
  color: var(--yellow-1, #ffc226);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.qr__text__2 {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.qr__text__3 {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.qr__code {
  margin-left: 13px;
}

.qr__tick {
  margin-left: 70px;
}

.qr__card {
  width: 235px;
  height: 440px;
}
