.payment__box__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 815px;
  height: 585px;
  fill: #fde8b3;
  background-color: #fde8b3;
  border-radius: 30px;
}

.payment__border__1 {
  width: 795px;
  height: 565px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
}

.payment__box__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 585px;
  fill: #fde8b3;
  background-color: #fde8b3;
  border-radius: 30px;
}

.payment__border__2 {
  width: 430px;
  height: 565px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
}

.payment__vector {
  margin-left: 115px;
  margin-right: -100px;
}

.text__2 {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  opacity: 0.800000011920929;
  font-size: 20px;
  line-height: 30px;
}

.payment__tag {
  width: 340px;
  height: 80px;
  fill: linear-gradient(180deg, #ff000a 0%, #c2000b 100%);
  background: linear-gradient(#ff000a, #c2000b);
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -30px;
}

.payment__tag__border {
  width: 335px;
  height: 75px;
  border-style: dashed;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50% / 0 0 25px 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.payment__button {
  height: 50px;
  font-size: 24px;
  margin-left: 20px;
  width: 300px;
}

.tag__margin {
  margin-left: 100px;
}

.w-54 {
  width: 54%;
}

.input__label {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.ticket__text {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.custom__modal {
  width: 100px;
}

.custom__modal .ant-modal-content {
  border-radius: 25px;
  width: 450px;
}

.modal__header {
  background-color: #ff8b15;
  height: 25px;
  box-shadow: 0 0 0px 24px #ff8b15;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.modal__header img {
  width: 112px;
  height: 112px;
  margin-top: -80px;
}

.payment__img {
  width: 270px;
  position: absolute;
  top: 350px;
  left: -50px;
}
