.bg__nav {
  background: #ed7200;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 50% / 0 0 25px 25px;
  fill: #ed7200;
  filter: drop-shadow(0px 4px 35px rgba(161, 58, 0, 0.75));
}

.nav__ds {
  color: var(--w, #fff);
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* opacity: 0.9; */
}

.navbar__custom {
  gap: 0 85px;
}

.nav-link.active {
  border-radius: 33px;
  padding: 10px 24px;
  border: 2px solid var(--w, #fff);
}
