.paysuccess-header-box {
  text-align: center;
}
.paysuccess-main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.paysuccess-tab-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 637px;
  fill: #fde8b3;
  background-color: #fde8b3;
  border-radius: 30px;
}

.paysuccess-tab-box-border {
  width: 97.5%;
  height: 612px;
  border-style: dashed;
  background-color: #fff6d4;
  border-width: 3px;
  border-color: rgb(248, 97, 97);
  border-radius: 30px;
}

.paysuccess-card {
  width: 85%;
}
.paysuccess-main-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.paysuccess-text-start {
  margin-left: 9.5%;
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.paysuccess-text-end {
  margin-right: 8%;
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  opacity: 0.5;
}

.paysuccess-button-wh {
  width: 160px;
  height: 40px;
  font-size: 18px;
}

.paysuccess-picture {
  position: absolute;
  left: -60px;
  top: 45%;
}
.ms {
  margin-right: 15px;
}
.paysuccess-bottom-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.paysuccess-tab-box-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3%;
}

@media only screen and (max-width: 1024px) {
  .paysuccess-picture {
    display: none;
  }
  .paysuccess-main-box {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .paysuccess-picture {
    display: none;
  }
  .paysuccess-tab-box {
    width: 90%;
  }
  .paysuccess-tab-box-border {
    width: 95%;
    height: 97%;
  }

  .paysuccess-button-wh {
    width: 120px;
  }
}
