.wrapper {
  height: 1104px;
  background-color: #f9b842;
  border-radius: 20px;
}

.nav-wrapper {
  position: relative;
  z-index: 10;
}

.main {
  width: 91%;
  height: 957px;
  margin: -30px auto 0;
  background: linear-gradient(
    0deg,
    #ff8b2c 1.71%,
    #ff8d2a 4.22%,
    #ffa413 37.82%,
    #ffb105 69.39%,
    #ffb600 96.65%
  );
  border-radius: 20px;
}

.input-item {
  margin-bottom: 15px;
  padding: 18px;
  border-color: #fff;
  border-radius: 16px;
  background: var(--w, #fff);
  box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.5) inset;
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.header-text {
  color: var(--w, #fff);
  font-family: iCiel Koni;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px;
  padding-top: 70px;
  margin-bottom: 50px;
}

.input-row {
  display: flex;
}

.button-item {
  background-color: #ff000a;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 4px #bd000b;
  cursor: pointer;
  font-family: "iCiel Koni";
  font-weight: 900;
  line-height: "normal";
  color: #fff;
}

.icon-button {
  border: none;
  background-color: #ffde32;
  border-radius: 10px;
  box-shadow: 0px 7px 0px #ffd27b;
  color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.icons {
  font-size: 30px;
}

.flag1-img {
  position: absolute;
  right: 0.5%;
  width: 32%;
}

.flag2-img {
  position: absolute;
  left: 0.5%;
  top: 15.5%;
  width: 32%;
}

.modal-t {
  color: var(--text, #23221f);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  opacity: 0.699999988079071;
}

@media only screen and (max-width: 1024px) {
  .input-item {
    padding: 17x;
    font-size: 15px;
  }

  .icon-button {
    width: 45px;
    height: 45px;
  }
  .icons {
    font-size: 25px;
  }

  .flag1-img {
    position: absolute;
    width: 32%;
  }

  .header-text {
    font-size: 60px;
    line-height: 50px;
  }

  .flag2-img {
    position: absolute;

    width: 32%;
    top: 11%;
  }
}

@media only screen and (max-width: 768px) {
  .input-item {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
  }

  .icon-button {
    width: 40px;
    height: 40px;
  }
  .icons {
    font-size: 20px;
  }
  .wrapper {
    height: 110%;
  }

  .main {
    height: 100%;
    padding-bottom: 50px;
  }

  .header-text {
    font-size: 50px;
    line-height: 50px;
  }

  .flag1-img,
  .flag2-img {
    display: none;
  }
}
